.buttonRandom {
  background: rgb(13, 58, 156);
  color: #f1f1f1;
  width: 80px;
  text-transform: uppercase;
  height: 80px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid rgb(7, 7, 68);
  border-width: 0 0 5px 0;
  border-radius: 50%;
}

.buttonRandom:active {
    transform: translateY(3px);
    border-width: 0 0 3px 0;
}